---
layout: layouts/page.njk
permalink: /thank-you.html
title: Thank you
mainClass: thanks
noindex: true
excludeFromSitemap: true
---
    <div>
      <p class="eyebrow">Received</p>
      <h1>Thank you.</h1>
      <p>Courtney has what you sent.</p>
      <p><a class="button" href="/">Return to the books</a></p>
    </div>
